body {
    background-color: $body-bg-color; 
    color: $base-font-color;
    font-family: $base-font-family;
    line-height: $base-line-height;
    font-weight: 300;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    margin-bottom: modular-scale(1);
    color: lighten($black,50);
    font-weight: 200;
}

h1 { 
    font-size: modular-scale(3);
    line-height: modular-scale(3);
    @include media($bp-large) {
        font-size: modular-scale(6);
        line-height: modular-scale(6);
    }
}

h2 {
    font-size: modular-scale(2);
    line-height: modular-scale(2);
    @include media($bp-large) {
        font-size: modular-scale(5);
        line-height: modular-scale(5);
    }
}

h3 {
    font-family: $header-secondary-family;
    font-size: modular-scale(1);
    line-height: modular-scale(1);
    @include media($bp-large) {
        font-size: modular-scale(3);
        line-height: modular-scale(3);
    }
}

h4 { 
    font-family: $header-secondary-family;
    font-size: modular-scale(1);
    font-weight: 200;
    line-height: modular-scale(1);
    @include media($bp-large) {
        font-size: modular-scale(2);
        line-height: modular-scale(2);
    }
}

h5 {
    font-family: $header-secondary-family;
    font-size: modular-scale(0);
    font-weight: 100;
    line-height: modular-scale(0);
    margin-top: modular-scale(0);
    @include media($bp-large) {
        font-size: modular-scale(1);
        line-height: modular-scale(1);
    }
}

p, ul, ol {
    font-size: modular-scale(0);
    line-height: modular-scale(2);
    padding-bottom: modular-scale(1);
    @include media($bp-large) {
        font-size: modular-scale(0, 1.1rem);
        line-height: modular-scale(2);
    }
}

article li {
    line-height: modular-scale(2);
    padding-bottom: modular-scale(0);
}

hr {
    border-bottom: 1px solid $base-border-color;
    border-left: none;
    border-right: none;
    border-top: none;
}

small {
    font-size: modular-scale(-1, 1.1rem); 
    line-height: modular-scale(1, 1.1rem);
    @include media($bp-large) {
        font-size: modular-scale(-1, 1.1rem); 
        line-height: modular-scale(1, 1.1rem);
    }
}

blockquote {
    quotes: "\201C""\201D""\2018""\2019";
    margin: .5rem;
    &:before {
        color: lighten($base-font-color, 70);
        content: open-quote;
        font-size: modular-scale(5);
        line-height: modular-scale(1);
        vertical-align: -0.4em;
        margin-right: 0.1em;
        @include media($bp-large) {
            font-size: modular-scale(8);
        }
    }
    p {
        color: lighten($base-font-color, 50);
        display: inline;
        font-size: modular-scale(1);
        line-height: modular-scale(2);
        font-style: italic;
        font-weight: 300;
        @include media($bp-large) {
            font-size: modular-scale(2);
            line-height: modular-scale(3);
        }  
    }
    @include media($bp-large) {
        @include pad(2rem 4rem 0 4rem);
        margin: 2rem;
    }
}

a {
    color: $base-link-color;
    text-decoration: none;
    @include transition(color 0.1s linear);
    &:hover {
        color: $hover-link-color;
    }
    &:active {
        color: $hover-link-color;
        outline: none;
    }
    footer & {
        color: $white;
         &:hover {
            color: $white;
            opacity: 0.6;
        }
    }
}

.headline {
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    z-index: 10;
}

.reverse--text {
    color: $headline-font-color;
}

.text__shadow {
    text-shadow: 0 0 6px lighten($base-font-color, 10);
}

.readmore {
    display: block;
    margin: -20px 0 20px 0;
    font-family: FontAwesome;
    &:after {
        content:"\f178";
        margin-left: .5em;
    }
}

.wf-loading {
    visibility: hidden;
}

.wf-active, .wf-inactive {
    visibility: visible;
}