.top-header {
	background-color: $header-bg-color;
    height: 60px;
    @include media($bp-large) {
    height: 120px;
}

    img {
    	float: left;
    	max-width: 150px;
    	padding: .7em 0 .5em 1em;
    	@include media($bp-large) {
            padding: .9em 0 .9em 2em;
    		max-width: 350px;
    	}
    }
}