section[role=hero] {
    background-size:cover;
    background-position:65% 35%;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.12);
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 120px;
        height: 500px;
        background-color: rgba(0,0,0,0);
    }

    header {
        @include outer-container;
        text-align: center;
    }
}