.avatar {
	width: 100%; 
	height: 220px;
}

.avatar--empty {
	background-color: #cccccc;
}

.avatar--left {
	float: left; 
	margin-right: 2rem;
}

.avatar--center {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
}