.avatar {
	border-radius: 50%; 
	width: 220px; 
	height: 220px;
	border: 1px solid $green;
	transition: all .2s ease-in-out;
	&:hover {
		transform: rotate(10deg);
	}
}

.avatar--empty {
	background-color: #cccccc;
}

.avatar--left {
	float: left; 
	margin-right: 2rem;
}

.avatar--center {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
}