/* Input elements */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="search"],
textarea,
select {
  border: none;
  line-height: 1.5em;
  width: 100%;
  padding: 8px; /* temp */
  }
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="search"],
select {
  height: 40px; /* temp */
  vertical-align: top;
  }
  select[multiple="multiple"] {
    height: auto;
    }
textarea {
  height: 120px; /* temp */
  resize: vertical;
  }
label,
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
  }


/* Form elements */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="search"],
textarea,
select {
  padding: 8px 12px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0 0 0 2px transparent, 0 1px 0 rgba(0,0,0,0.08) inset;
  background-color: #f2f2f2; /* variable */
  color: #444; /* variable */
  }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="search"]:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 0 2px #d13a7a;
  }
input[type="checkbox"],
input[type="radio"] {
  margin-right: 5px;
  }

/*Referral Form */
.referral-form {
  font-size: .85em;
}
.referral-form h2 {
  font-size: 1.4em;
  font-weight:bold;
}
.referral-form .half {
  width: 48.15%;
  float:left;
  margin-right: 10px;
}
.referral-form .third {
  width: 31.15%;
  float:left;
  margin-right:10px;
}
.refleft {
  width:48%;
  float:left;
}


.refright {
  width: 48%;
  float:right;
}
.reffull {
  width: 100%;
  float:none;
  clear:both;
  display:inline-block;
  margin-top:15px;
}
.referral-form .wpcf7-list-item {
  display:block;
}
.referral-form .refright > div, .referral-form .refleft > div {
  margin-top:4px;
}
span.wpcf7-form-control.wpcf7-checkbox.referralcheck {
  padding: 0 0;
}
.submitbutton {
  margin-top:8px;
  margin-left:auto;
  margin-right:auto;
  width:113px;
}