.jv-open, .jv-opened {
    background: #fff;
}

[data-jv-content], [data-jv-panel] {
    display: none;
}

.mobile  {
    display: block;
    @include media($bp-large) {
        display: none;
    }
}

nav {
    position: relative;
    display: none;
    float: right;
    margin-right: 0;
    z-index: 20;
    font-weight: 500;
    @include media($bp-large) {
        margin-right: 1rem;
        height: 120px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 10px 0 10px 20px;
    }
    ul li a {
        text-decoration: none;
        color: $blue;
        border: none;
    }
    @include media($bp-large) {
        display: inline-block;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        ul li {
            display: block;
            position: relative;
            float: left;
        }
        li ul {
            display: none;
        }
        ul li a {
            display: block;
            padding: 47px 20px 46px 20px;
            margin: 0;
            text-decoration: none;
            white-space: nowrap;
            color: $blue;
            border: none;
            //@include transition(background 0.2s ease);
            //@include transition(color 0.2s ease);
        }
        ul li li a {
            display: block;
            margin-left: 0px;
            padding: 10px 20px 9px 20px;
            text-decoration: none;
            white-space: nowrap;
            color: white;
            //border: none;
            
        }
        ul li a:hover{
            background: lighten($blue,40);
            color: $white;
        }
        li:hover ul {
            display: block; 
            position: absolute;
        }
        li:hover li {
            float: none;
        }
        li:hover a {
            //background: $blue;
            border: none;

        }
        li:hover li a {
            background: $white;
            opacity: 0.9;
            border: none;
            color: $blue;
        }
        li:hover li a:hover {
            background: lighten($blue,40);
            color: $white
        }
        .current-menu-item a {
            background: lighten($blue,40);
            color: $white;
            &:hover {
                color: $white;
            }
        }
    }
}


/*.menu-btn {
    color: $base-link-color;
    float: right;
    font-family: $sans-serif;
    font-size: 1.5em;
    padding: .7em 1em 0 0;
    text-transform: uppercase;
    &:after {
        content: ' \f0c9';
        font-family: fontAwesome;
        font-weight: 400;
        color: $base-link-color;
    }
    &.active-menu:after {
        content: ' \f05c';
        color: $base-link-color;
    }
    &:hover {
        color: $hover-link-color;
    }
    @include media($bp-large) {
        display: none;
    }
}
*/
/*
nav {
    @include media($bp-large) {
        font-family: $sans-serif;
        position: absolute;
        right: 10px;
        ul {
            list-style-type: none;
            padding: 0;
            margin-top: 2em;
            li {
                font-size: 1rem;
                display: inline;
                margin: .7em;
                a {
                    color: $base-link-color;
                    &:hover {
                        color: $hover-link-color;
                    }
                }
            }
            ul li {
                display: block;
            }
        }
    }
}

.current-menu-item a {
    color: $hover-link-color;
}
*/