.pagination {
	@include outer-container();
	text-align: center;
	padding: 3em 0 0 0;
	color: black;
	font-family: $sans-serif;
	& .page-numbers {
		border: 1px solid $button-background-color;
		padding: .6em 1em .6em 1em;
		margin: .2em;
		&:hover {
			background-color: $button-background-color;
			color: $light-font-color
		}
		&.current {
			background-color: $button-background-color;
			color: $light-font-color
		}
	}
}